<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      th:href="@{https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap}"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      rel="stylesheet"
    />
    <link
      th:href="@{/css/bootstrap.css}"
      href="../static/css/bootstrap.css"
      rel="stylesheet"
    />
    <link
      th:href="@{/css/styles.css}"
      href="../static/css/styles.css"
      rel="stylesheet"
    />
    <link
      th:href="@{/images/favicon.png}"
      href="../static/images/favicon.png"
      rel="icon"
    />
    <title>Sign Up</title>
  </head>
  <body class="sign-up-page">
    <div class="form-container row">
      <div class="left mx-0 my-0 py-0 px-0 col-md-6"></div>
      <div class="right container col-md-6">
        <a class="navbar-brand" href="index.html" th:href="@{/home}">
          <img
            class="mb-5"
            src="../static/images/favicon.png"
            th:src="@{/images/favicon.png}"
            alt=""
            width="200"
          />
        </a>

        <!-- Sign Up Form -->
        <div class="sign-up-form form-wrapper col-md-10">
          <h1>Create an Account</h1>
          <form
            action="#"
            id="signup"
            th:action="@{/create-user}"
            th:object="${userDTO}"
            method="post"
            enctype="utf8"
          >
            <div
              th:if="${errorMessage}"
              class="alert alert-danger"
              role="alert"
            >
              <p th:text="${errorMessage}"></p>
            </div>
            <div class="form-group firstName">
              <label for="firstName">First Name</label>
              <input
                type="text"
                th:field="*{firstName}"
                name="firstName"
                id="firstname"
                placeholder="First Name"
              />
              <span
                th:if="${#fields.hasErrors('firstName')}"
                class="alert alert-error"
                th:errors="*{firstName}"
              ></span>
              <small></small>
            </div>
            <div class="form-group lastName">
              <label for="lastName">Last Name</label>
              <input
                type="text"
                name="lastName"
                th:field="*{lastName}"
                id="lastname"
                placeholder="Last Name"
              />
              <span
                th:if="${#fields.hasErrors('lastName')}"
                class="alert alert-error"
                th:errors="*{lastName}"
              ></span>
              <small></small>
            </div>
            <div class="form-group email">
              <label for="email">E-mail</label>
              <input
                type="email"
                th:field="*{email}"
                name="email"
                id="email"
                placeholder="123abc@mail.com"
              />
              <span
                th:if="${#fields.hasErrors('email')}"
                class="alert alert-error"
                th:errors="*{email}"
              ></span>
              <small></small>
            </div>
            <div class="form-group password">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                th:field="*{password}"
                id="signUpPassword"
                placeholder="Password"
              />
              <i class="fa fa-eye-slash" id="signUpTogglePassword"></i>
              <span
                th:if="${#fields.hasErrors('password')}"
                class="alert alert-error"
                th:errors="*{password}"
              ></span>
              <small></small>
            </div>
            <div class="form-group confirmpassword">
              <label for="confirm-password">Confirm Password</label>
              <input
                type="password"
                th:field="*{matchPassword}"
                name="confirm-password"
                id="confirm-password"
                placeholder="Confirm password"
              />
              <span
                th:if="${#fields.hasErrors('matchPassword')}"
                class="alert alert-error"
                th:errors="*{matchPassword}"
              ></span>
              <small></small>
            </div>
            <div class="form-group">
              <button class="signup-btn btn btn-secondary my-4" type="submit">
                Sign Up
              </button>
            </div>
            <div class="already-registered">
              Already registered?
              <a
                href="login.html"
                class="sign-in-form-btn text-decoration-underline"
              >
                Sign in</a
              >
            </div>
            <div class="copy legal">
              <p>
                <span class="small"
                  >By continuing, you agree to accept our <br />
                  <a class="text-decoration-underline" href="#"
                    >Privacy Policy</a
                  >
                  &amp;
                  <a class="text-decoration-underline" href="#"
                    >Terms of Service</a
                  >.</span
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer th:replace="~{fragments :: footer}"></footer>

    <script
      th:src="@{/js/bootstrap.bundle.min.js}"
      src="../static/js/bootstrap.bundle.min.js"
    ></script>
    <script th:src="@{/js/script.js}" src="../static/js/script.js"></script>
  </body>
</html>
